# It will deploy only the infraestructure of the siloed services
module "hybrid_tenant___TENANT_ID__" {
  source          = "git::__MODULE_SOURCE__//terraform//modules//tenant-apps?ref=v0.0.1"
  tenant_id       = "__TENANT_ID__"
  enable_consumer = false
}

output "___TENANT_ID___producer_sqs_arn" {
  value = "${module.hybrid_tenant___TENANT_ID__.producer_sqs_arn}"
}
