locals {}

# It will deploy only the infraestructure of the siloed services
module "pool_tenant___TENANT_ID__" {
  source = "git::__MODULE_SOURCE__//terraform//modules//tenant-apps?ref=v0.0.1"
  bucket_name = "__TENANT_ID__"
  enable_consumer = false
  enable_producer = false
}