# It will deploy the infrastructure for silo the apps
module "silo_tenant___TENANT_ID__" {
  source    = "git::__MODULE_SOURCE__//terraform//modules//tenant-apps?ref=v0.0.1"
  tenant_id = "__TENANT_ID__"
  enable_consumer = true
  enable_producer = true
# enable_payments = true
}

output "__TENANT_ID__" {
  value = module.silo_tenant___TENANT_ID__
}
