apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: terraform
  namespace: flux-system
spec:
  interval: 30s
  url: {CLONE_URL_CODECOMMIT_USER} # Same repository for gitops components, could be sliptted
  secretRef:
    name: flux-system
  ref:
    tag: v0.0.1 # Needs to be updated accordngly to new microsservice