---
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: HelmRepository
metadata:
  name: helm-tenant-chart
  namespace: flux-system
spec:
  type: "oci"
  interval: 1m0s
  url: oci://{TENANT_CHART_HELM_REPO}/
  provider: aws